{% extends 'basic_app/base.html' %}
{% load static %}
{% block content %}
<h1>The Student must be present in the USER_DESCRIPTION Table</h1>
{% if added_succesfully %}
<h3><p>Successfully Added {{user_id}}</p></h3>
{% elif error %}
<h3><p>Could not Add the Student</p></h3>
{% endif %}
<form action="{% url 'basic_app:students_add' %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="user_id">User ID</label>
      <input type="text" class="form-control" name="user_id" placeholder="User ID(starts with S)">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="current_level">Current Level</label>
      <input type="number" class="form-control" name="current_level" placeholder="Current Level">
    </div>
    <div class="form-group col-md-6">
      <label for="current_term">Current Term</label>
      <input type="number" class="form-control" name="current_term" placeholder="Current Term">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cgpa">CGPA</label>
      <input type="text" class="form-control" name="cgpa" placeholder="cgpa">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock content %}
