{% extends 'basic_app/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron">
  <div class="list-group">
    <a href="{% url 'basic_app:user_desc_view' %}" class="list-group-item list-group-item-action list-group-item-primary">View USER_DESCRIPTION Table</a>
    <a href="{% url 'basic_app:user_desc_add' %}" class="list-group-item list-group-item-action list-group-item-secondary">Add Row In USER_DESCRIPTION Table</a>
    <a href="{% url 'basic_app:user_desc_update' %}" class="list-group-item list-group-item-action list-group-item-danger">Update Row In USER_DESCRIPTION Table</a>
    <a href="{% url 'basic_app:user_desc_delete' %}" class="list-group-item list-group-item-action list-group-item-success">Delete Row From USER_DESCRIPTION Table</a>
  </div>
</div>
{% endblock content %}
